@{
    ViewBag.Title = "Login";
    @Styles.Render("~/Content/Login.css");
}

<div class="container" id="login-page">
    <h2>@ViewBag.Title.</h2>
    <form class="col-md-4 form-group">
        <p class="text-center form-title">@ViewBag.Message</p>
        <input type="text" placeholder="Login" class="form-control" />
        <input type="password" placeholder="Senha" class="form-control" />
        <button type="submit" class="form-control btn btn-success">Entrar</button>
    </form>
</div>

